.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 100px;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
}

.hero-left p {
    color: #171717;
    font-size: 55px;
    font-weight: 700;
    align-self: center;
    overflow: hidden;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 59px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 259px;
    height: 52px;
    border-radius: 22px;
    margin-top: 16px;
    background: #ff4141;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.hero-latest-btn div {
    overflow: hidden;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}